<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="TestBookingDB"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\PRAKTYKI\PROJECTS\2025-11-08\ConferenceRoomBookingSystem\ConferenceRoomBookingSystem\ConferenceRoomBookingSystem\App_Data\TestDatabase.mdf;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="TestMode" value="true" />
	</appSettings>
</configuration>